@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui" {
    themes: light --default;
}

@theme {
    --color-orange-primary: #edb935;
    --color-orange-secondary: #f48502;
    --color-purple: #5b2f86;
    --color-blue: #298ffd;
    --font-poppins: "Poppins", sans-serif;
}

body {
    font-family: var(--font-poppins);
}
